<!DOCTYPE html>
<html>
<body>



<form method="POST"  enctype="multipart/form-data" >
     {% csrf_token %}
  Full name:<br>
  <input type="text" name="name" required>
  <br><br>
  Email<br>
  <input type="text" name="email"required >
  <br><br>
   Contact number:<br>
  <input type="text" name="p_num" required>
  <br><br>
  Upload resume<br>
  <br>
  <input type="file" name="resume">

  <input type="submit">
</form>




</body>
</html>