<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
{% if count > 150 %}

Registrations are full. Your data is saved. We wil be contacting you soon.
{% else %}
    Thank you for registering with us. Please check your mail for details regarding drive.

{% endif %}
</body>
</html>